In [27]:
#import libraries

import numpy as np
import pandas as pd

#====================================

#set parameters

S = 193.38
r = 0.04208
vol = 0.4841
T = 9 / 365
n = 100


#add strikes

strikes = [167.5, 170, 172.5, 175, 177.5, 180, 182.5, 185, 187.5, 190, 192.5, 195]


#bloomberg bids and asks for comparison 

bids = [26.55, 24.25, 21.9, 19.65, 17.45, 15.25, 13.25, 11.3, 9.45, 7.75, 6.2, 4.8]
asks = [27.1, 24.7, 22.15, 19.9, 17.65, 15.5, 13.4, 11.4, 9.55, 7.85, 6.3, 4.9]


#====================================


#call pricing function


def callbinom(S, K, T, r, vol, n=100):
    
    dt = T / n
    u = np.exp(vol * np.sqrt(dt))
    d = 1 / u
    q = (np.exp(r * dt) - d) / (u - d)
    discount = np.exp(-r * dt)

    
    assets = np.array([S * (u ** j) * (d ** (n - j)) for j in range(n + 1)])
    
    optvals = np.maximum(assets - K, 0.0)

    
    
    #bckwrd induction
    
    for i in range(n - 1, -1, -1):
        
        assets = assets[:i + 1] / u
        
        optvals = discount * (q * optvals[1:] + (1 - q) * optvals[:-1])
        optvals = np.maximum(optvals, assets - K)

        
    return optvals[0]


#====================================


#calculating call prices for strikes

calls = [callbinom(S, K, T, r, vol, n) for K in strikes]


#comparison table 

df = pd.DataFrame({
    
    'Strike': strikes,
    'Calculated Call': calls,
    'Bid': bids,
    'Ask': asks
    
})

#====================================


print("4/25 American Call Option Prices:")
display(df)

4/25 American Call Option Prices:

    Strike  Calculated Call    Bid    Ask
0    167.5        26.202837  26.55  27.10
1    170.0        23.802867  24.25  24.70
2    172.5        21.451250  21.90  22.15
3    175.0        19.163704  19.65  19.90
4    177.5        16.957557  17.45  17.65
5    180.0        14.850770  15.25  15.50
6    182.5        12.860795  13.25  13.40
7    185.0        11.003437  11.30  11.40
8    187.5         9.298453   9.45   9.55
9    190.0         7.772281   7.75   7.85
10   192.5         6.412236   6.20   6.30
11   195.0         5.217147   4.80   4.90