In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [13]:
tickers = ['AAPL']
data = yf.download(tickers, start = '2024-01-01', end = '2025-4-17')
data = data['Close']
df = pd.DataFrame(data)
df.tail()

[*********************100%***********************]  1 of 1 completed

Ticker            AAPL
Date
2025-04-10  190.419998
2025-04-11  198.149994
2025-04-14  202.520004
2025-04-15  202.139999
2025-04-16  194.270004

In [14]:
df['Log Returns'] = np.log(df['AAPL']/df['AAPL'].shift(1))
df = df.dropna()
df.tail()

Ticker            AAPL  Log Returns
Date
2025-04-10  190.419998    -0.043319
2025-04-11  198.149994     0.039792
2025-04-14  202.520004     0.021814
2025-04-15  202.139999    -0.001878
2025-04-16  194.270004    -0.039712

Calculating the Parameters

In [21]:
S_0 = round(df['AAPL'].iloc[-1],2)
print(f'S0 Value: {S_0}')
sigma_annual = (df['Log Returns'].std())*np.sqrt(252)
print(f'Sigma Annual: {sigma_annual}')

S0 Value: 194.27
Sigma Annual: 0.29987399728816583

In [27]:
t_bills = yf.download("^IRX", start="2024-01-01", end="2025-04-17")
r = t_bills['Close'].iloc[-1]/100
print(f'Risk-Free Rate: {r}')

[*********************100%***********************]  1 of 1 completed

Risk-Free Rate: Ticker
^IRX    0.04208
Name: 2025-04-16 00:00:00, dtype: float64

In [24]:
print(f'S_0: {S_0}\nSigma Annual: {sigma_annual}\nRisk Free Rate: {r} ')

S_0: 194.27
Sigma Annual: 0.29987399728816583
Risk Free Rate: Ticker
^IRX    0.04208
Name: 2025-04-16 00:00:00, dtype: float64

Binomial Tree Model